* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange: #ffa600;
  --gray: #f3f3f3;
  --white: #fff;
}
body {
  background-color: var(--orange);
  color:var(--white);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.numbers-container {
  display: flex;
}
.buttons {
  display: flex;
  gap:10px;
}
button{
  cursor: pointer;
  padding: 10px 30px;
  border: 2px solid var(--gray);
  background: none;
  color: var(--white);
}