* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange: #ffa600;
  --gray: #f3f3f3;
  --white: #fff;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.numbers-container {
  display: flex;
}
.buttons {
  display: flex;
}
